<ion-header>
  <ion-toolbar class="ion-color" [ngStyle]="{
    'background': this.tempSettings.mainColor,
    'color': 'white'
  }">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/store"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Create an Item</ion-title>
    <ion-buttons slot="end">

      <!-- Submit Item -->
      <ion-button (click)="submitItem()" expand="block" fill="clear">
        Add
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>

      <ion-col></ion-col>

      <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="6" size-xl="4">

        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Add a new Product to your Store</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card>

          <ion-card-content>

            <!-- General Settings -->
            <ion-card-subtitle color="dark" class="ion-text-center">Product Sheet</ion-card-subtitle>

            <!-- Name Input -->
            <ion-item>
              <ion-label position="floating">Product Name</ion-label>
              <ion-input [(ngModel)]="name" ></ion-input>
            </ion-item>

            <!-- Image Input -->
            <ion-item>
              <ion-label position="floating">Image</ion-label>
              <ion-input [(ngModel)]="photo" ></ion-input>
            </ion-item>

            <!-- Price Input -->
            <ion-item>
              <ion-label position="floating">Price</ion-label>
              <ion-input type="number" [(ngModel)]="price" ></ion-input>
            </ion-item>

            <!-- Short Description Input -->
            <ion-item>
              <ion-label position="floating">Short Description</ion-label>
              <ion-input [(ngModel)]="shortDesc" ></ion-input>
            </ion-item>

            <!-- Long Description Input -->
            <ion-item>
              <ion-label position="floating">Long Description</ion-label>
              <ion-input [(ngModel)]="longDesc" ></ion-input>
            </ion-item>

            <!-- Category Input -->
            <ion-item>
              <ion-label position="floating">Category</ion-label>
              <ion-input [(ngModel)]="category" ></ion-input>
            </ion-item>
                
          </ion-card-content>

        </ion-card>

      </ion-col>

      <ion-col></ion-col>

    </ion-row>
  </ion-grid>

</ion-content>