<ion-content class="ion-padding">
  <div class="background-welcome" [style.background-color]="tempSettings.mainColor">


  <!-- Grid for Store Card -->
  <ion-grid>
    <ion-row>

      <ion-col></ion-col>

      <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="6" size-xl="4">

        <ion-card [ngStyle]="{
          'border-radius': this.tempSettings.roundType * 4 + 'px'
        }">
          <ion-card-content class="ion-text-center">

            <br>

            <ion-card-title class="ion-text-center store-name">{{tempSettings.name}}</ion-card-title>

            <br>
            <br>

            <img class="card-image" src="{{tempSettings.image}}" alt="Couldn't load Store image">

            <br>
            <br>

            <!-- Enter the Shop Button -->
            <ion-button 
            [ngStyle]="{
              'background': this.tempSettings.mainColor, 
              'color': 'white', 
              'border-radius': this.tempSettings.roundType * 4 + 'px'
            }" (click)="enterShop()" expand="block" fill="clear">
              Enter the Shop
            </ion-button>

          </ion-card-content>
            
        </ion-card>

        <!-- Last Time Connected -->
        <ion-card *ngIf="lastDate" [ngStyle]="{
          'border-radius': this.tempSettings.roundType * 4 + 'px'
        }">
          <ion-card-content class="ion-text-center">

            <!-- Info -->
            <ion-card-subtitle color="dark" class="ion-text-center">Last Session</ion-card-subtitle>
            <br>
            <ion-label>{{lastDate}}</ion-label>
          </ion-card-content>
            
        </ion-card>

      </ion-col>

      <ion-col></ion-col>

    </ion-row>
  </ion-grid>

    
  </div>
</ion-content>
