<ion-header>
  <ion-toolbar class="ion-color" [ngStyle]="{
    'background': this.tempSettings.mainColor,
    'color': 'white'
  }">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/store"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Your Cart</ion-title>

    <ion-icon slot="end"></ion-icon>
    <ion-icon slot="end"></ion-icon>
    <ion-icon slot="end"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>

      <ion-col></ion-col>

      <ion-col size-xs="12" size-sm="6" size-xl="4">

        <ion-card [ngStyle]="{
          'border-radius': this.tempSettings.roundType * 4 + 'px'
        }">
          <ion-card-header>

            <ion-card-title class="ion-text-center">Items that are in your Cart</ion-card-title>

            <br>

            <ion-button [ngStyle]="{
              'background': this.tempSettings.mainColor, 
              'color': 'white', 
              'border-radius': this.tempSettings.roundType * 4 + 'px'
            }" (click)="convertItems()" expand="block" fill="clear">
              Proceed with the Purchase
            </ion-button>

          </ion-card-header>
        </ion-card>

        <br>

        <!-- List of Items-->
        <ion-list *ngFor="let item of itemList">

          <ion-card class="card" [ngStyle]="{
            'border-radius': this.tempSettings.roundType * 4 + 'px'
          }">
    
            <ion-card-content class="ion-text-left">
              
              <ion-item lines="none">
  
                <!-- Image -->
                <img class="card-image ion-text-left" src="{{item.photo}}" alt="Can't load {{item.name}} image">
                
                <ion-icon></ion-icon>
  
                <!-- Name -->
                <ion-label class="ion-text-left">{{item.name}}</ion-label>
  
                <!-- Unit price and total price -->
                <ion-list>
                  <ion-label class="ion-text-right">Each unit: {{item.price | currency}}</ion-label>
                  <ion-label class="ion-text-right">Total price: {{item.price | currency}}</ion-label>
                </ion-list>
                
              </ion-item>
              
            </ion-card-content>
  
          </ion-card>
          
        </ion-list>

      </ion-col>

      <ion-col></ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
